
{% extends "base/main.html" %}
{% load static %}

{% block content %}
<hr>


<div class="container">
     
    <link rel="stylesheet" href='{% static "css/ide.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    
    
    
<form action="" method="POST">
  {% csrf_token %}
    <div class="editor">
        <div class="button-group">
            <button class="btn-run" type="submit">Run </button>
            {% comment %} <button class="toggle-mode">mode</button> {% endcomment %}
        </div>
        <textarea id="code" name="code" rows="4" cols="50" class="code">
          {{snippet}}
          </textarea
          >
    </div>
    <div class="controls">
        <textarea class="input" rows="5" placeholder="Provide input (if needed)">{{input_data}}</textarea>
        <textarea class="output" rows="5" placeholder="Output will be shown here" readonly>{{output}}</textarea>

    </div>
</div>
</form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script src='{% static "js/ide.js" %}'></script>

{% endblock %}

