{% extends "base/main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href='{% static "css/onlineIDE.css" %}''>
<div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> C</h5>
                <p class="card-text">Info of C</p>
                <a href="#" class="btn btn-primary">Code in C</a>
            </div>
        </div>
        




        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> C++14</h5>
                <p class="card-text">Info of C++14</p>
                <a href="#" class="btn btn-primary">Code in C++14</a>
            </div>
        </div>
        



        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> C++17</h5>
                <p class="card-text">Info of C++17</p>
                <a href="#" class="btn btn-primary">Code in C++17</a>
            </div>
        </div>
        




        
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  JAVA8</h5>
                <p class="card-text">Info of JAVA8 </p>
                <a href="#" class="btn btn-primary">Code in JAVA8 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  JAVA 14</h5>
                <p class="card-text">Info of JAVA 14 </p>
                <a href="#" class="btn btn-primary">Code in JAVA 14 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  KOTLIN</h5>
                <p class="card-text">Info of KOTLIN </p>
                <a href="#" class="btn btn-primary">Code in KOTLIN </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> PYTHON </h5>
                <p class="card-text">Info of PYTHON </p>
                <a href="#" class="btn btn-primary">Code in PYTHON </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> PYTHON 3</h5>
                <p class="card-text">Info of PYTHON 3</p>
                <a href="#" class="btn btn-primary">Code in PYTHON 3</a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PYTHON 3.8</h5>
                <p class="card-text">Info of PYTHON 3.8 </p>
                <a href="#" class="btn btn-primary">Code in PYTHON 3.8 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  CLOJURE</h5>
                <p class="card-text">Info of CLOJURE </p>
                <a href="#" class="btn btn-primary">Code in CLOJURE </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  C#</h5>
                <p class="card-text">Info of C# </p>
                <a href="#" class="btn btn-primary">Code in C# </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  GO </h5>
                <p class="card-text">Info of GO  </p>
                <a href="#" class="btn btn-primary">Code in GO  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  HASKELL </h5>
                <p class="card-text">Info of HASKELL  </p>
                <a href="#" class="btn btn-primary">Code in HASKELL  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  JAVASCRIPT </h5>
                <p class="card-text">Info of JAVASCRIPT  </p>
                <a href="#" class="btn btn-primary">Code in JAVASCRIPT  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  OBJECTIVE C </h5>
                <p class="card-text">Info of OBJECTIVE C  </p>
                <a href="#" class="btn btn-primary">Code in OBJECTIVE C  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PASCAL</h5>
                <p class="card-text">Info of PASCAL </p>
                <a href="#" class="btn btn-primary">Code in PASCAL </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PERL </h5>
                <p class="card-text">Info of PERL  </p>
                <a href="#" class="btn btn-primary">Code in PERL  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PHP </h5>
                <p class="card-text">Info of PHP  </p>
                <a href="#" class="btn btn-primary">Code in PHP  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  R </h5>
                <p class="card-text">Info of R  </p>
                <a href="#" class="btn btn-primary">Code in R  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  RUBY </h5>
                <p class="card-text">Info of RUBY   </p>
                <a href="#" class="btn btn-primary">Code in RUBY  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  RUST </h5>
                <p class="card-text">Info of RUST  </p>
                <a href="#" class="btn btn-primary">Code in RUST  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  SCALA </h5>
                <p class="card-text">Info of SCALA  </p>
                <a href="#" class="btn btn-primary">Code in SCALA  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  SWIFT</h5>
                <p class="card-text">Info of SWIFT </p>
                <a href="#" class="btn btn-primary">Code in SWIFT </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  TYPESCRIPT </h5>
                <p class="card-text">Info of TYPESCRIPT  </p>
                <a href="#" class="btn btn-primary">Code in TYPESCRIPT  </a>
            </div>
        </div>
        








        <!-- Add more cards as needed -->

    </div>
</div>
<!-- Bootstrap JS (optional, if you need JavaScript features) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}