{% extends "base/main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href='{% static "css/onlineIDE.css" %}''>
<div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> C</h5>
                <p class="card-text">A general-purpose, procedural programming language known for its efficiency and low-level system access</p>
                <a href="{% url 'ide' 1%}" class="btn btn-primary">Code in C</a>
            </div>
        </div>
        




        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> C++14</h5>
                <p class="card-text">An object-oriented programming language, an extension of C with additional features like classes, templates, and inheritance.</p>
                <a href="{% url 'ide' 2%}" class="btn btn-primary">Code in C++14</a>
            </div>
        </div>
        



        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> C++17</h5>
                <p class="card-text">An updated version of C++ with enhancements to the language syntax and additional library features.</p>
                <a href="{% url 'ide' 3%}" class="btn btn-primary">Code in C++17</a>
            </div>
        </div>
        




        
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  JAVA8</h5>
                <p class="card-text"> An object-oriented programming language known for its "write once, run anywhere" capability, with Java 8 introducing features like lambda expressions and streams. </p>
                <a href="{% url 'ide' 4%}" class="btn btn-primary">Code in JAVA8 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  JAVA 14</h5>
                <p class="card-text">An updated version of Java with improvements to the language and libraries, continuing the evolution of the Java platform. <br><br></p>
                <a href="{% url 'ide' 5%}" class="btn btn-primary">Code in JAVA 14 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  KOTLIN</h5>
                <p class="card-text">A statically typed programming language developed by JetBrains, designed to interoperate with Java and emphasizing conciseness and safety. </p>
                <a href="{% url 'ide' 6%}" class="btn btn-primary">Code in KOTLIN </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> PYTHON 2</h5>
                <p class="card-text">An older version of Python, widely used for scripting, automation, and web development, with Python 3 being the recommended version due to its improved features and support. <br><br> </p>
                <a href="{% url 'ide' 7%}" class="btn btn-primary">Code in PYTHON 2 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title"> PYTHON 3</h5>
                <p class="card-text">The latest version of Python, featuring enhancements to the language syntax and standard library, with widespread adoption in various domains including web development, data science, and automation.
                </p>
                <a href="{% url 'ide' 8%}" class="btn btn-primary">Code in PYTHON 3</a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PYTHON 3.8</h5>
                <p class="card-text">A specific version of Python 3, notable for introducing features like assignment expressions and positional-only parameters. <br><br><br></p>
                <a href="{% url 'ide' 9%}" class="btn btn-primary">Code in PYTHON 3.8 </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  CLOJURE</h5>
                <p class="card-text">A functional programming language that runs on the Java Virtual Machine (JVM), emphasizing immutable data structures and functional programming paradigms. </p>
                <a href="{% url 'ide' 10%}" class="btn btn-primary">Code in CLOJURE </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  C#</h5>
                <p class="card-text">A modern, object-oriented programming language developed by Microsoft, commonly used for building Windows applications and web services. </p>
                <a href="{% url 'ide' 11%}" class="btn btn-primary">Code in C# </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  GO </h5>
                <p class="card-text">Also known as Golang, a statically typed, compiled language designed for simplicity and efficiency in concurrent programming. <br><br> </p>
                <a href="{% url 'ide' 12%}" class="btn btn-primary">Code in GO  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  HASKELL </h5>
                <p class="card-text">A purely functional programming language with strong static typing and lazy evaluation, often used in academia and research.  </p>
                <a href="{% url 'ide' 13%}" class="btn btn-primary">Code in HASKELL  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  JAVASCRIPT </h5>
                <p class="card-text">A versatile scripting language commonly used for web development, with Node.js enabling server-side JavaScript execution.  </p>
                <a href="{% url 'ide' 14%}" class="btn btn-primary">Code in JAVASCRIPT  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  OBJECTIVE C </h5>
                <p class="card-text">An object-oriented programming language primarily used by Apple for developing iOS and macOS applications. </p>
                <a href="{% url 'ide' 15%}" class="btn btn-primary">Code in OBJECTIVE C  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PASCAL</h5>
                <p class="card-text">A procedural programming language known for its readability and structured programming features, commonly used in educational settings. </p>
                <a href="{% url 'ide' 16%}" class="btn btn-primary">Code in PASCAL </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PERL </h5>
                <p class="card-text">A high-level, interpreted programming language known for its text processing capabilities and support for regular expressions.  </p>
                <a href="{% url 'ide' 17%}" class="btn btn-primary">Code in PERL  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  PHP </h5>
                <p class="card-text">A server-side scripting language used for web development, known for its ease of use and integration with HTML.  </p>
                <a href="{% url 'ide' 18%}" class="btn btn-primary">Code in PHP  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  R </h5>
                <p class="card-text">A programming language and environment used for statistical computing and graphics, widely used in data analysis and research.   </p>
                <a href="{% url 'ide' 19%}" class="btn btn-primary"> Code in R  </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  RUBY </h5>
                <p class="card-text">A dynamic, object-oriented programming language known for its simplicity and productivity, commonly used for web development.    </p>
                <a href="{% url 'ide' 20%}" class="btn btn-primary"> Code in Ruby</a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  RUST </h5>
                <p class="card-text">A systems programming language focused on safety, concurrency, and performance, designed to prevent common programming errors.  </p>
                <a href="{% url 'ide' 21%}" class="btn btn-primary"> Code in Rust</a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  SCALA </h5>
                <p class="card-text">A statically typed programming language that combines object-oriented and functional programming paradigms, designed to run on the Java Virtual Machine (JVM).  </p>
                <a href="{% url 'ide' 22%}" class="btn btn-primary"> Code in Scala </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  SWIFT</h5>
                <p class="card-text"> A modern, general-purpose programming language developed by Apple for building iOS, macOS, watchOS, and tvOS applications. <br><br> </p>
                <a href="{% url 'ide' 23%}" class="btn btn-primary">Code in SWIFT </a>
            </div>
        </div>
        




               
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">  TYPESCRIPT </h5>
                <p class="card-text">A statically typed superset of JavaScript, adding optional static typing and other features for building large-scale JavaScript applications. <br><br> </p>
                <a href="{% url 'ide' 24%}" class="btn btn-primary">Code in TYPESCRIPT  </a>
            </div>
        </div>
        








        <!-- Add more cards as needed -->

    </div>
</div>
<!-- Bootstrap JS (optional, if you need JavaScript features) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}