{% comment %} {% extends "base/main.html" %} {% endcomment %}
{% load static %}

<link rel="stylesheet" href='{% static "css/adminhome.css" %}'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleaphttps://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.cssis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-P0D0rqiGpblz5bd+VZ/euHJh2Q7gJXkecqpgQ7pvu3qJbV7axu8fMMDZ7xbOEF+fmBtHKfYXscBdb7m3xq3zJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{% block content %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleaphttps://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.cssis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-P0D0rqiGpblz5bd+VZ/euHJh2Q7gJXkecqpgQ7pvu3qJbV7axu8fMMDZ7xbOEF+fmBtHKfYXscBdb7m3xq3zJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
      <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
      <div class="image-wrapper">
        <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
      </div>
      <div class="sidebar-layout">
        <div class="sidebar-header">
          <div class="pro-sidebar-logo">
            <div>P</div>
            <h5>PrepIzard</h5>
          </div>
        </div>
        <div class="sidebar-content">
          <nav class="menu open-current-submenu">
            <ul>
            
             
              
              <li class="menu-item sub-menu">
                <a href="{% url 'adminhome' %}">                  <span class="menu-icon">
                   <i class="fa-solid fa-home" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">Home</span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'adminabout' %}">                  <span class="menu-icon">
                   <i class="fa-solid fa-user-group" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">About Us</span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'adminpractice' %}">                 <span class="menu-icon">
                  <i class="ri-global-fill"></i>
                  </span>
                  <span class="menu-title">Practice</span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'adminresource' %}">                <span class="menu-icon">
                   <i class="ri-book-2-fill" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">Resource</span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'mix' %}" target="_blank">               <span class="menu-icon">
                   <i class="ri-paint-brush-fill" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">Online IDE</span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'logout' %}">                 <span class="menu-icon">
                   <i class="fa-solid fa-user" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">Logout </span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>

















             
              
             
              
            </ul>
          </nav>
        </div>
      </div>
    </aside>
    <div id="overlay" class="overlay"></div>
    <div class="layout">
      <span class="content">
        
        <!-- <div class="left-content">
            <div class="activities"> -->
              <h1>Learn and Practice Coding Online</h1>
                 <h2>
                    Solve online computer science questions to enhance coding skills with diverse challenges and real-world scenarios for continuous learning !
                 </h2>
                 <div class="weekly-schedule">
                  <h1>Courses</h1>
                  <a href="{% url 'add_course' %}" class="btn">Add Course</a>
                  <div class="calendar">

                    {% for course in courses %}
                    <br>
                    <br><br>
                    <br><br>
                    <div class="day-and-activity activity-one">
                      <div class="day">
                        
                      </div>
                      <div class="activity">
                        <h2>{{ course.course_name }}</h2>
                        <h1>{{course.course_description}}</h1>
                        
                      </div>
                      <a href="{% url 'add_question' course.id  %}" class="btn"> Add Question</a>

                      <br>
                      
                    </div>
    

     
    <!-- Other course details -->
{% endfor %}
                    
                  </div>
                </div> 
              
               
                <!-- <button class="btn">Add Course</button> -->
            </div>
  
            <div class="left-bottom">
              
<!--   
              
            </div>
          </div> -->
  
        
      
        </span>
      <div class="overlay"></div>
    </div>
  </div>

<script src='https://unpkg.com/@popperjs/core@2'></script>

<script src='{% static "js/adminhome.js" %}'></script>

{% endblock %}