{% comment %} {% extends "base/main.html" %} {% endcomment %}
{% load static %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleaphttps://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.cssis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-P0D0rqiGpblz5bd+VZ/euHJh2Q7gJXkecqpgQ7pvu3qJbV7axu8fMMDZ7xbOEF+fmBtHKfYXscBdb7m3xq3zJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href='{% static "css/about.css" %}'>


{% block content %}
{% comment %} <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleaphttps://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.cssis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-P0D0rqiGpblz5bd+VZ/euHJh2Q7gJXkecqpgQ7pvu3qJbV7axu8fMMDZ7xbOEF+fmBtHKfYXscBdb7m3xq3zJw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.tailwindcss.com"></script>

<style>
    .chat_messages{
        height: 400px;
        overflow-y:auto ;
    }
</style>
<div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
      <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
      <div class="image-wrapper">
        <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
      </div>
      <div class="sidebar-layout">
        <div class="sidebar-header">
          <div class="pro-sidebar-logo">
            <div>P</div>
            <h5>PrepIzard</h5>
          </div>
        </div>
        <div class="sidebar-content">
          <nav class="menu open-current-submenu">
            <ul>
              <li class="menu-header"><span> GENERAL </span></li>
             
              
              <li class="menu-item sub-menu">
                <a href="{% url 'adminabout' %}">                  <span class="menu-icon">
                   <i class="fa-solid fa-user-group" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">About Us</span>
                  <span class="menu-suffix">
                    <!-- <span class="badge primary">Hot</span> -->
                  </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'adminpractice' %}">
                  <span class="menu-icon">
                   <i class="fa-solid fa-user-magnifying-glass" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">Practice</span>
                </a>
                
              </li>
              
              <li class="menu-item sub-menu">
                <a href="{% url 'adminpractice' %}">
                  <span class="menu-icon">
                    <i class="ri-global-fill"></i>
                  </span>
                  <span class="menu-title">Practice</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Google maps</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Open street map</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'adminresource' %}">
                  <span class="menu-icon">
                    <i class="ri-book-2-fill"></i>
                  </span>
                  <span class="menu-title">Resources</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Pie chart</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Line chart</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Bar chart</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'mix' %}" target="_blank">
                  <span class="menu-icon">
                   <i class="ri-paint-brush-fill"></i>
                  </span>
                  <span class="menu-title">onlineIDE</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Dark</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Light</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'logout' %}">
                  <span class="menu-icon">
                   <i class="fa-solid fa-user" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">LOGOUT</span>
                  
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Grid</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Layout</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Forms</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-header" style="padding-top: 20px"><span> EXTRA </span></li>
              
            </ul>
          </nav>
        </div>
      </div>
    </aside>
    <div id="overlay" class="overlay"></div>
    <div class="layout">
      <span class="content">
        
         
            
<div class="unique-container">
    
  <div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">{{room.name}}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for m in messages %}<b>{{ m.user.student.name }}</b>: {{ m.content }}<br>{% endfor %}
    </div>
</div>

    <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form method="post" action="." class="flex">
            <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">
    
            <button 
                class="px-5 py-3 rounded-xl text-black bg-teal-600 hover:bg-teal-700 btn"
                id="chat-message-submit"
            >Submit</button>
        </form>
    </div>

</div>





    <div class="overlay"></div>
  
</div>





{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
{{ request.user.student.name|json_script:"json-name" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const name = JSON.parse(document.getElementById('json-name').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/room/'
        + roomName
        +'/'
        
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            console.log(data)
            document.querySelector('#chat-messages').innerHTML += ('<b>' + data.name + '</b>: ' + data.message + '<br>');
        } else {
            alert('The message was empty!')
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13 && !e.shiftKey) {
        e.preventDefault(); // Prevent the default action of the Enter key
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value.trim(); // Trim the input to remove whitespace

        if (message !== '') { // Check if the message is not empty
            document.querySelector('#chat-message-submit').click();
        }
    }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName,
            'name':name,
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName,
            'name':name

        }));

        messageInputDom.value = '';

        return false
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>

{% endblock %}