{% comment %} {% extends "base/main.html" %} {% endcomment %}
{% load static %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleaphttps://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.cssis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-P0D0rqiGpblz5bd+VZ/euHJh2Q7gJXkecqpgQ7pvu3qJbV7axu8fMMDZ7xbOEF+fmBtHKfYXscBdb7m3xq3zJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href='{% static "css/practice.css" %}'>


{% block content %}
{% comment %} <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://fonts.googleaphttps://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.cssis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-P0D0rqiGpblz5bd+VZ/euHJh2Q7gJXkecqpgQ7pvu3qJbV7axu8fMMDZ7xbOEF+fmBtHKfYXscBdb7m3xq3zJw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endcomment %}



<div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
      <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
      <div class="image-wrapper">
        <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
      </div>
      <div class="sidebar-layout">
        <div class="sidebar-header">
          <div class="pro-sidebar-logo">
            <div>P</div>
            <h5>PrepIzard</h5>
          </div>
        </div>
        <div class="sidebar-content">
          <nav class="menu open-current-submenu">
            <ul>
              <li class="menu-header"><span> GENERAL </span></li>

              <li class="menu-item sub-menu" id="userMenu">
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa-solid fa-user" style="color: #e6e6e6;"></i>
                    </span>
                    <span class="menu-title">User</span>
                </a>
                <div class="sub-menu-list" style="display: none;">
                    <ul>
                        <li class="menu-item">
                            <a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="menu-item">
                          <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
              
              <li class="menu-item sub-menu">
                <a href="{% url 'about' %}">
                  <span class="menu-icon">
                   <i class="fa-solid fa-user-group" style="color: #e6e6e6;"></i>
                  </span>
                  <span class="menu-title">About Us</span>
                  <span class="menu-suffix">
                    <span class="badge primary">Hot</span>
                  </span>
                </a>
                <div class="sub-menu-list">
                  
                </div>
              </li>
              
              
              <li class="menu-item sub-menu">
                <a href="{% url 'practice' %}" >
                  <span class="menu-icon">
                    <i class="ri-global-fill"></i>
                  </span>
                  <span class="menu-title">Practice</span>
                </a>
                <div class="sub-menu-list">
                  
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'resources' %}">
                  <span class="menu-icon">
                    <i class="ri-book-2-fill"></i>
                  </span>
                  <span class="menu-title">Resources</span>
                </a>
                <div class="sub-menu-list">
                  
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="{% url 'mixide' %}">
                  <span class="menu-icon">
                   <i class="ri-paint-brush-fill"></i>
                  </span>
                  <span class="menu-title">onlineIDE</span>
                </a>
                <div class="sub-menu-list">
                  
                </div>
              </li>
              <li class="menu-header" style="padding-top: 20px"><span> EXTRA </span></li>
              
            </ul>
          </nav>
        </div>
        
      </div>
    </aside>
    <div id="overlay" class="overlay"></div>
    <div class="layout">
      <span class="content">
       
         
            
<div class="unique-container">
    <div class="container">
        <div class="box">
            
            <div class="activities">
                <h1>learn and practice question</h1>
                   <h2>
                    "Empower Your Learning: Dive Deep into Practice Questions, Forge Unstoppable Mastery!"                         .
                   </h2>
                   <div class="weekly-schedule">
                    <h1>Courses</h1>
                    <div class="calendar">
                      <div class="day-and-activity activity-one">
                        <div class="day">
                          
                        </div>
                        <div class="activity">
                          <h2>Data Science</h2>
                          
                        </div>
                        <button class="btn">solve</button>
                      </div>
      
                      <div class="day-and-activity activity-two">
                        <div class="day">
                          
                        </div>
                        <div class="activity">
                          <h2>Programming</h2>
                          
                        </div>
                         <button class="btn">solve</button>
                      </div>
      
                      <div class="day-and-activity activity-three">
                        <div class="day">
                          
                        </div>
                        <div class="activity">
                          <h2>Databases</h2>
                          
                        </div>
                        <button class="btn">solve</button>
                      </div>
      
                      <div class="day-and-activity activity-four">
                        <div class="day">
                          
                        </div>
                        <div class="activity">
                          <h2>System Design</h2>
                          
                        </div>
                        <button class="btn">solve</button>
                      </div>
                    </div>
                  </div> 
                
                
                
              </div>
            
        </div>
        <div class="box">
            
                <div class="right-content">
                  <div class="user-info">
                    
                    
                  </div>
        
                  <div class="active-calories">
                    <h1 style="align-self: flex-start">Progress</h1>
                    <div class="active-calories-container">
                      <div class="box" style="--i: 85%">
                        <div class="circle">
                          <h2>85<small>%</small></h2>
                        </div>
                      </div>
                      <div class="calories-content">
                        <p><span>Solved:</span> 1111</p>
                        <p><span>Attempted:</span> 350</p>
                        <p><span>Correct:</span> 140</p>
                      </div>
                      
                    </div>
                  </div>
        
                  
        
                  
                </div>
               
            
            
        </div>
    </div>

    <div class="overlay"></div>
  
</div>

<script src='https://unpkg.com/@popperjs/core@2'></script>

<script src="{% static "js/landing.js" %}"></script>

<script>
  document.getElementById('userMenu').addEventListener('click', function() {
      var subMenu = this.querySelector('.sub-menu-list');
      if (subMenu.style.display === 'none' || subMenu.style.display === '') {
          subMenu.style.display = 'block';
      } else {
          subMenu.style.display = 'none';
      }
  });
</script>


{% endblock %}