
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 10px 20px;
    background-color: #084293; 
    color: var(--color-p);
  } 
  
  
  /* Menu circle */
  .menu-circle {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  /* Header menu */
  .header-menu {
    display: flex;
  }
  
  .menu-link {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .is-active {
    font-weight: bold;
  }
  
  .notify::after {
    
    
    margin-left: 5px;
  }
  
  /* Search bar */
  .search-bar input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  /* ................................ */
  
  